body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-86px;
  width:1923px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:88px;
  width:662px;
  height:430px;
  display:flex;
  transition:none;
}
#u8857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:430px;
}
#u8857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:239px;
  width:200px;
  height:1px;
  display:flex;
  transition:none;
}
#u8858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:219px;
  width:151px;
  height:41px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u8859 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:546px;
  width:659px;
  height:430px;
  display:flex;
  transition:none;
}
#u8860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:430px;
}
#u8860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:730px;
  width:200px;
  height:1px;
  display:flex;
  transition:none;
}
#u8861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u8861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:710px;
  width:151px;
  height:41px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u8862 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:99px;
  width:639px;
  height:419px;
  display:flex;
  transition:none;
}
#u8863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:419px;
}
#u8863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:228px;
  width:193px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(12.073830934950209deg);
  -moz-transform:rotate(12.073830934950209deg);
  -ms-transform:rotate(12.073830934950209deg);
  transform:rotate(12.073830934950209deg);
  transition:none;
}
#u8864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:2px;
}
#u8864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u8865 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:188px;
  width:151px;
  height:41px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u8865 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
