body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-360px;
  width:4723px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:243px;
  width:4038px;
  height:1710px;
  display:flex;
  transition:none;
}
#u8789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4038px;
  height:1710px;
}
#u8789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:1074px;
  width:40px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:780px;
  background:inherit;
  background-color:rgba(2, 133, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:287px;
  width:414px;
  height:780px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:327px;
  width:414px;
  height:740px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:297px;
  width:31px;
  height:24px;
  display:flex;
  transition:none;
}
#u8793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u8793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:366px;
  width:413px;
  height:1px;
  display:flex;
  transition:none;
}
#u8794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2px;
}
#u8794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:336px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u8795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8796 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:340px;
  width:22px;
  height:19px;
  display:flex;
  transition:none;
}
#u8796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u8796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8797 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:379px;
  width:23px;
  height:18px;
  display:flex;
  transition:none;
}
#u8797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u8797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
}
#u8798 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:375px;
  width:91px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
}
#u8798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u8799 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:407px;
  width:398px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u8799 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:39px;
  background:inherit;
  background-color:rgba(231, 245, 251, 0.9921568627450981);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8800 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:465px;
  width:393px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u8801 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:477px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u8801 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8801_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u8802 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:477px;
  width:121px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u8802 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8802_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u8803 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:477px;
  width:64px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u8803 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8803_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u8804 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:477px;
  width:76px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u8804 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:513px;
  width:69px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:513px;
  width:36px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8806 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8806_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:513px;
  width:42px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8807 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:513px;
  width:31px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8808 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:539px;
  width:412px;
  height:1px;
  display:flex;
  transition:none;
}
#u8809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u8809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:549px;
  width:69px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8810 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8810_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:549px;
  width:36px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8811 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:549px;
  width:42px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8812 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8812_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:549px;
  width:31px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:575px;
  width:412px;
  height:1px;
  display:flex;
  transition:none;
}
#u8814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u8814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:589px;
  width:68px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:589px;
  width:36px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8816_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:589px;
  width:42px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8817 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8817_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:589px;
  width:31px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8818_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:615px;
  width:412px;
  height:1px;
  display:flex;
  transition:none;
}
#u8819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u8819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:624px;
  width:69px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:624px;
  width:36px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:624px;
  width:42px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8822_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:624px;
  width:31px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:650px;
  width:412px;
  height:1px;
  display:flex;
  transition:none;
}
#u8824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u8824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:660px;
  width:69px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:660px;
  width:36px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:660px;
  width:42px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:660px;
  width:31px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8828_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:686px;
  width:412px;
  height:1px;
  display:flex;
  transition:none;
}
#u8829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u8829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:696px;
  width:69px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:696px;
  width:36px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:696px;
  width:42px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8832_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:696px;
  width:31px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:722px;
  width:412px;
  height:1px;
  display:flex;
  transition:none;
}
#u8834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u8834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#016FA0;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:730px;
  width:240px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#016FA0;
}
#u8835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:61px;
  background:inherit;
  background-color:rgba(1, 111, 160, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:781px;
  width:396px;
  height:61px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:788px;
  width:173px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u8837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:802px;
  width:79px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:22px;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:851px;
  width:150px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:22px;
}
#u8839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:853px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u8840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:881px;
  width:412px;
  height:1px;
  display:flex;
  transition:none;
}
#u8841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u8841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:899px;
  width:145px;
  height:97px;
  display:flex;
  transition:none;
}
#u8842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:97px;
}
#u8842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:902px;
  width:257px;
  height:63px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u8843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:974px;
  width:19px;
  height:19px;
  display:flex;
  transition:none;
  color:#7F7F7F;
}
#u8844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#7F7F7F;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:975px;
  width:92px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#7F7F7F;
}
#u8845 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8845_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
  color:#7F7F7F;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:1003px;
  width:404px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
  color:#7F7F7F;
}
#u8846 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:298px;
  width:64px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
}
#u8847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:335px;
  width:100px;
  height:27px;
  display:flex;
  transition:none;
}
#u8848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u8848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:444px;
  width:237px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u8849 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:298px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u8850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:297px;
  width:82px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:rgba(255, 255, 255, 0.9921568627450981);
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:298px;
  width:60px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:rgba(255, 255, 255, 0.9921568627450981);
}
#u8852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:300px;
  width:18px;
  height:21px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:299px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u8854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:231px;
  width:1px;
  height:87px;
  display:flex;
  -webkit-transform:rotate(59.10991549810352deg);
  -moz-transform:rotate(59.10991549810352deg);
  -ms-transform:rotate(59.10991549810352deg);
  transform:rotate(59.10991549810352deg);
  transition:none;
}
#u8855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:88px;
}
#u8855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8856 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:181px;
  width:115px;
  height:71px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
