body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:3100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:17px;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:55px;
  width:1000px;
  height:3100px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:17px;
}
#u5159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
