body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-287px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:115px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
