body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-144px;
  width:1183px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7260 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:92px;
  width:790px;
  height:676px;
  display:flex;
  transition:none;
}
#u7260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:676px;
}
#u7260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7261 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:430px;
  width:140px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.41517954114486444deg);
  -moz-transform:rotate(-0.41517954114486444deg);
  -ms-transform:rotate(-0.41517954114486444deg);
  transform:rotate(-0.41517954114486444deg);
  transition:none;
}
#u7261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:2px;
}
#u7261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7262 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:408px;
  width:187px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7262 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7263 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:644px;
  width:360px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(66.74871103853111deg);
  -moz-transform:rotate(66.74871103853111deg);
  -ms-transform:rotate(66.74871103853111deg);
  transform:rotate(66.74871103853111deg);
  transition:none;
}
#u7263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u7263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7264 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:810px;
  width:187px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7264 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7265 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:644px;
  width:360px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(66.74871103853111deg);
  -moz-transform:rotate(66.74871103853111deg);
  -ms-transform:rotate(66.74871103853111deg);
  transform:rotate(66.74871103853111deg);
  transition:none;
}
#u7265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u7265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7266 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:810px;
  width:187px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7266 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7267 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:725px;
  width:175px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(112.38521568633958deg);
  -moz-transform:rotate(112.38521568633958deg);
  -ms-transform:rotate(112.38521568633958deg);
  transform:rotate(112.38521568633958deg);
  transition:none;
}
#u7267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:2px;
}
#u7267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7268 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:810px;
  width:187px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7268 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7269 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:762px;
  width:239px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(103.78339607371505deg);
  -moz-transform:rotate(103.78339607371505deg);
  -ms-transform:rotate(103.78339607371505deg);
  transform:rotate(103.78339607371505deg);
  transition:none;
}
#u7269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:2px;
}
#u7269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7270 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:879px;
  width:187px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7270 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7271 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:766px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7271 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7271_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7272 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:768px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
