body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-93px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8657 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:819px;
  width:32px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8657 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8657_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8658 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:115px;
  width:60px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8658 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8658_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8659 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:115px;
  width:20px;
  height:23px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8660 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:117px;
  width:20px;
  height:20px;
  display:flex;
  transition:none;
}
#u8660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:780px;
  background:inherit;
  background-color:rgba(2, 133, 190, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u8661 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:31px;
  width:414px;
  height:780px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u8662 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:71px;
  width:414px;
  height:740px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8663 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:40px;
  width:31px;
  height:24px;
  display:flex;
  transition:none;
}
#u8663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u8663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.7764705882352941);
  border-radius:31px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u8664 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:39px;
  width:75px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u8664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8665 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:110px;
  width:413px;
  height:1px;
  display:flex;
  transition:none;
}
#u8665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2px;
}
#u8665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8666 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:80px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u8666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8667 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:84px;
  width:22px;
  height:19px;
  display:flex;
  transition:none;
}
#u8667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u8667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8668 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:43px;
  width:64px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
}
#u8668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8668_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#000000;
}
#u8669 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:121px;
  width:393px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#000000;
}
#u8669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8670 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:311px;
  width:20px;
  height:15px;
  display:flex;
  transition:none;
  color:#02A7F0;
}
#u8670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u8670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
  text-decoration:underline ;
  color:#000000;
}
#u8671 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:308px;
  width:125px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
  text-decoration:underline ;
  color:#000000;
}
#u8671 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#000000;
}
#u8672 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:160px;
  width:391px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#000000;
}
#u8672 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u8673 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:213px;
  width:78px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u8673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
}
#u8674 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:235px;
  width:354px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
}
#u8674 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u8675 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:288px;
  width:78px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u8675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:397px;
  background:inherit;
  background-color:rgba(4, 38, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u8676 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:414px;
  width:414px;
  height:397px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8677 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:447px;
  width:44px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8677_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8678 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:481px;
  width:90px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8679 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:511px;
  width:20px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8680 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:544px;
  width:25px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8681 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:579px;
  width:133px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8681 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8681_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8682 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:611px;
  width:84px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8682 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8682_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8683 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:645px;
  width:39px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8683 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8683_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8684 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:706px;
  width:412px;
  height:1px;
  display:flex;
  transition:none;
}
#u8684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:2px;
}
#u8684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u8685 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:722px;
  width:106px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u8685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u8686 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:722px;
  width:81px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u8686 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8686_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u8687 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:722px;
  width:65px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u8687 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8687_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8688 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:748px;
  width:17px;
  height:17px;
  display:flex;
  transition:none;
}
#u8688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u8688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#7F7F7F;
}
#u8689 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:749px;
  width:256px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#7F7F7F;
}
#u8689 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8689_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8690 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:777px;
  width:26px;
  height:25px;
  display:flex;
  transition:none;
}
#u8690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u8690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8691 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:777px;
  width:29px;
  height:25px;
  display:flex;
  transition:none;
}
#u8691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u8691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8692 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:778px;
  width:26px;
  height:22px;
  display:flex;
  transition:none;
}
#u8692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u8692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8693 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:776px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u8693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8694 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:776px;
  width:26px;
  height:26px;
  display:flex;
  transition:none;
}
#u8694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u8694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8695 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:776px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u8695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8696 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:80px;
  width:100px;
  height:27px;
  display:flex;
  transition:none;
}
#u8696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u8696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:rgba(255, 255, 255, 0.9921568627450981);
}
#u8697 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:42px;
  width:60px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:rgba(255, 255, 255, 0.9921568627450981);
}
#u8697 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8697_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8698 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:44px;
  width:18px;
  height:21px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u8698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8699 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:43px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u8699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
