body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-66px;
  width:965px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:59px;
  width:645px;
  height:558px;
  display:flex;
  transition:none;
}
#u8782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:558px;
}
#u8782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:624px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8783 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8783_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:624px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:265px;
  width:142px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-13.04446301619542deg);
  -moz-transform:rotate(-13.04446301619542deg);
  -ms-transform:rotate(-13.04446301619542deg);
  transform:rotate(-13.04446301619542deg);
  transition:none;
}
#u8785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:2px;
}
#u8785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:256px;
  width:101px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u8786 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:269px;
  width:152px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(3.757699472273585deg);
  -moz-transform:rotate(3.757699472273585deg);
  -ms-transform:rotate(3.757699472273585deg);
  transform:rotate(3.757699472273585deg);
  transition:none;
}
#u8787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:2px;
}
#u8787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:256px;
  width:101px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u8788 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
